In [39]:
import pandas as pd

In [40]:
df = pd.read_json("hogehoge.json")
df

         day  num
0  2017/8/10   60
1  2017/8/09   55
2  2017/8/08   58
3  2017/8/07   92

In [45]:
df.to_csv("hogehoge.csv")
df

         day  num
0  2017/8/10   60
1  2017/8/09   55
2  2017/8/08   58
3  2017/8/07   92